.exp {
    padding-top: 126px;
    .exp__wrapper {
        display: grid;
        margin-top: 60px;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: minmax(360px,auto);
        column-gap: 145px;
        .exp__column {
            padding-left: 45px;
            .exp__name {
                position: relative;
            }
            .exp__name::before {
                content: '';
                display: block;
                height: 15px;
                width: 15px;
                background-color: $main-color;
                border-radius: 100%;
                position:absolute;
                left: -45px;
                top:50%;
                transform: translateY(-50%);
            }
            .exp__item {
                margin-top: 45px;
                width: 360px;
                @include before_circle;
                padding-left: 0;
                min-height: 123px;
                .exp__img {
                    position:absolute;
                    top: 15px;
                    left: 15px;
                }
                .exp__type::before {
                    content: '';
                    display: block;
                    position: absolute;
                    height: 1px;
                    width: 42px;
                    background-color: #000;
                    top:18px;
                    left: -37px;
                    z-index: -1;
                }
                .exp__type, .exp__descr {
                   padding-left: 56px; 
                }
                .exp__descr, .exp__text {
                    color: #000;
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 18px;
                }
                .exp__text {
                    margin-top: 12px;
                }
                .exp__text::before {
                    content: '';
                    display: block;
                    position: absolute;
                    height: 140%;
                    width: 1px;
                    background-color: #000;
                    left: -37.5px;
                    top: -53px;
                    z-index: -1;
                }
            }
            .exp__item::before {
                left: 0;
                top: 0;
                z-index: 0;
            }
        }
    }
}