.hamburger {
    position: absolute;
    right: 30px;
    top: 20px;
    height: 21px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    cursor: pointer;
    span {
        display: block;
        width: 30px;
        height: 3px;
        background-color: #151812;
    }
    span.long {
        width: 36px;
    }
}
